archive/generations/local-first-tools/localtoolsdev/generated_flows/AutomatedMeetingNotesEmailer.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "shared_office365_connection"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "meeting_title": {
                  "type": "string",
                  "description": "Title of the meeting"
                },
                "participants": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Email addresses of meeting participants"
                },
                "notes": {
                  "type": "string",
                  "description": "Meeting notes and discussion points"
                },
                "action_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "task": {
                        "type": "string"
                      },
                      "assignee": {
                        "type": "string"
                      },
                      "due_date": {
                        "type": "string"
                      }
                    }
                  },
                  "description": "Action items from the meeting"
                }
              },
              "required": [
                "meeting_title",
                "participants",
                "notes"
              ]
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Parse_JSON_-_Meeting_Data": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()",
            "schema": {
              "type": "object",
              "properties": {
                "meeting_title": {
                  "type": "string"
                },
                "participants": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "notes": {
                  "type": "string"
                },
                "action_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "task": {
                        "type": "string"
                      },
                      "assignee": {
                        "type": "string"
                      },
                      "due_date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Initialize_Variable_-_Email_Recipients": {
          "runAfter": {
            "Parse_JSON_-_Meeting_Data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailRecipients",
                "type": "string",
                "value": "@{join(body('Parse_JSON_-_Meeting_Data')?['participants'], ';')}"
              }
            ]
          }
        },
        "Initialize_Variable_-_Action_Items_HTML": {
          "runAfter": {
            "Initialize_Variable_-_Email_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActionItemsHTML",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Condition_-_Check_Action_Items": {
          "runAfter": {
            "Initialize_Variable_-_Action_Items_HTML": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b"
          },
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Parse_JSON_-_Meeting_Data')?['action_items'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Apply_to_each_-_Action_Item": {
              "foreach": "@body('Parse_JSON_-_Meeting_Data')?['action_items']",
              "actions": {
                "Append_to_string_variable_-_Action_Item": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "ActionItemsHTML",
                    "value": "<li><strong>@{items('Apply_to_each_-_Action_Item')?['task']}</strong><br/>Assignee: @{items('Apply_to_each_-_Action_Item')?['assignee']}<br/>Due Date: @{items('Apply_to_each_-_Action_Item')?['due_date']}</li>"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d"
              },
              "type": "Foreach"
            }
          },
          "else": {
            "actions": {
              "Set_variable_-_No_Action_Items": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ActionItemsHTML",
                  "value": "<li>No action items recorded</li>"
                }
              }
            }
          }
        },
        "Compose_-_Email_Body": {
          "runAfter": {
            "Condition_-_Check_Action_Items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f"
          },
          "type": "Compose",
          "inputs": "<html>\n<head>\n<style>\nbody { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; line-height: 1.6; }\n.header { background-color: #0078d4; color: white; padding: 20px; border-radius: 5px 5px 0 0; }\n.content { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; border-top: none; border-radius: 0 0 5px 5px; }\n.section { margin-bottom: 20px; }\n.section-title { color: #0078d4; font-size: 18px; font-weight: bold; margin-bottom: 10px; border-bottom: 2px solid #0078d4; padding-bottom: 5px; }\n.notes { background-color: white; padding: 15px; border-left: 4px solid #0078d4; margin: 10px 0; white-space: pre-wrap; }\nul { list-style-type: none; padding-left: 0; }\nli { background-color: white; margin: 10px 0; padding: 12px; border-left: 4px solid #28a745; }\n.footer { text-align: center; color: #666; font-size: 12px; margin-top: 20px; padding-top: 10px; border-top: 1px solid #ddd; }\n</style>\n</head>\n<body>\n<div class=\"header\">\n<h1>@{body('Parse_JSON_-_Meeting_Data')?['meeting_title']}</h1>\n<p>Meeting Notes Summary</p>\n</div>\n<div class=\"content\">\n<div class=\"section\">\n<div class=\"section-title\">Meeting Notes</div>\n<div class=\"notes\">@{body('Parse_JSON_-_Meeting_Data')?['notes']}</div>\n</div>\n<div class=\"section\">\n<div class=\"section-title\">Action Items</div>\n<ul>\n@{variables('ActionItemsHTML')}\n</ul>\n</div>\n<div class=\"section\">\n<div class=\"section-title\">Participants</div>\n<p>@{join(body('Parse_JSON_-_Meeting_Data')?['participants'], ', ')}</p>\n</div>\n</div>\n<div class=\"footer\">\n<p>This email was automatically generated by Power Automate.</p>\n<p>Meeting Date: @{utcNow()}</p>\n</div>\n</body>\n</html>"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Compose_-_Email_Body": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@variables('EmailRecipients')",
              "emailMessage/Subject": "Meeting Notes: @{body('Parse_JSON_-_Meeting_Data')?['meeting_title']}",
              "emailMessage/Body": "@outputs('Compose_-_Email_Body')",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Response_-_Success": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "success",
              "message": "Meeting notes email sent successfully",
              "meeting_title": "@{body('Parse_JSON_-_Meeting_Data')?['meeting_title']}",
              "recipients_count": "@{length(body('Parse_JSON_-_Meeting_Data')?['participants'])}",
              "timestamp": "@{utcNow()}"
            },
            "headers": {
              "Content-Type": "application/json"
            }
          }
        }
      }
    },
    "templateName": "Automated Meeting Notes Emailer"
  },
  "schemaVersion": "1.0.0.0"
}
